.post-page-main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 1fr;
    padding: 2em;
    padding-top: 1em;
}

.heading {
  font-family: "Raleway";
}

li {
  font-family: "Raleway";
}

.sidebar {
    width: 300px;
}

@media only screen and (max-width: 850px) {
 .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}