.post-page-main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 1fr;
    padding: 2em;
    padding-top: 1em;
}

.heading {
  font-family: "Raleway";
}

li {
  font-family: "Raleway";
}

.sidebar {
    width: 300px;
}

.pagenum {
  background: #393939;
  border-color: transparent;
  font-family: "Raleway";
  padding: 0.4375rem 0.6rem;
  margin: 5px;
}

.pagenum-link {
  color: #fff;
  font-size: .85rem;
}

.pagenum-link:hover {
  color: #fa8dc3;
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
 .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}