.head-main {
  background: #F8F8FF;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
}

.head-elements {
  background: rgb(209, 49, 76);
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-bar {
  width: 100%;
  background: #393939;
  display: none;
  flex-direction: row;
  justify-content: center;
}
.bottom-bar > a {
  margin: 0 10px;
}

.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}
.head-logo {
  font-family: "Raleway";
  font-size: 1.75rem;
}

small {
    font-family: "Raleway";
}

.mobile-bio-main {
  background: #F8F8FF;
  display: none;
  font-size: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 850px) {
  header {
    border-bottom: 3px solid #fa8dc3;
  }
  .bottom-bar{display: flex;}
  .social-links{display: none;}
  .mobile-pages-main{
    display: flex;
    justify-content: space-around;
    background: #fa8dc3;
  }
  /* .mobile-bio-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
  } */
}