.sidebar-centered {
  background: #f8f8ff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.side-social-links {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem;
}

.page-links {
  /* margin-top: 3rem;
    padding-top: 4rem; */
  font-family: "Raleway";
}

.profile-img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

small,
h3,
p {
  font-family: "Raleway";
}

.bio-main {
  background: #f8f8ff;
}

.author-bio {
  font-size: 3vw;
}

.madewithlove {
  margin-top: 1rem;
}
.madewithlove a {
  color: #fa8dc3;
  text-decoration: none;
}
.madewithlove a:hover {
  color: #ff006a;
}
.madewithlove__heart {
  color: #fa8dc3;
}
.madewithlove__heart:hover {
  color: #ff006a;
}
